
/* Set scrollbar width to thin (if supported) */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Optional styles for scrollbar track and thumb (WebKit browsers) */
  ::-webkit-scrollbar-track {
    background-color: #000;
  }
  

  

  ::-webkit-scrollbar-thumb {
    /* background-color: #000; */
    background: linear-gradient(220deg, rgba(22,22,23,1) 0%, rgba(0,247,186,1) 35%, rgba(234,238,239,1) 100%);
  }
  

  .color-mainGreen{
    color: #42f5b6
  }

  .bgColor-mainGreen{
    background: #42f5b6
  }