.fixed-footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    text-transform: capitalize;
    /* display:flex; */
  }

  .footer-container{
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
  }

  .bg-black{
    background-color: black;
  }

  .txt-white{
    color: white;
  }

  .center-txt{
    text-align: center;
  }
  
  .footerDetails{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-item-1{
    grid-column: 1;
  }

  .footer-page-links, .footer-social{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    
    font-size: 0.8rem;
  }

  .footer-item-2{
    grid-column: 2;
  }

  .footer-item-3{
    grid-column: 3;
  }

  .nav-footer-Link, .footer-social-links{
    color: rgba(255, 255, 255, 0.555);
    text-decoration: none;
    
  }

  .nav-footer-Link:hover, .footer-social-links:hover{
    color: white;
  }


  .footer-contact{
    /* background-color: red; */
    display: flex;
    text-align: left;
    font-size: 0.7rem;
    
  }