.header-container{
    border-bottom: 2px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 10px;
}

.logo-container{
    height: 100%;
}

.home-icon{
    
  
}

.nav-Link{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.nav-Link:hover{
    color: blueviolet;
}